[package]
name = "kjxlkj-core-types"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[features]
default = []
profiling = []

[dependencies]
serde = { workspace = true }

[dev-dependencies]
