POSTGRES_DB=kjxlkj
POSTGRES_USER=kjxlkj
POSTGRES_PASSWORD=kjxlkjchange123
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminchange123
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_BUCKET=kjxlkj-media
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadminchange123
S3_PATH_STYLE=true
APP_PORT=8080
BIND_HOST=0.0.0.0
BIND_PORT=8080
