[package]
name = "kjxlkj-service-fs"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
anyhow.workspace = true
tokio.workspace = true

