[package]
name = "kjxlkj-server"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
actix.workspace = true
actix-files.workspace = true
actix-web.workspace = true
actix-web-actors.workspace = true
anyhow.workspace = true
argon2.workspace = true
bytes.workspace = true
chrono.workspace = true
futures-util.workspace = true
hex.workspace = true
rand.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
sqlx.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
uuid.workspace = true
