[package]
name = "kjxlkj-render"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
anyhow.workspace = true
kjxlkj-core-ui = { path = "../../core/kjxlkj-core-ui" }
ratatui.workspace = true

