[package]
name = "kjxlkj-host"
version.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
anyhow.workspace = true
crossterm.workspace = true
tokio.workspace = true

